*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type=button]{
    border: inherit;
    outline: none;
}
h1{
    font-family: inherit;
    color: inherit;
}
.container {
    margin: auto;
    width: 960px;
}
.header{
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.2;
    font-family: Arial;
}
.search-section{
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.recent-searches{
    height: 62px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}
.recent-search-item-container{
    position: relative;
}
.recent-search-item{
    padding: 0.25rem 0.5rem;
    font-size: 13px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 2px;
    margin-right: 10px;
    background-color: buttonface;
}
.recent-search-item-close{
    position: absolute;
    width: 8px;
    height: 8px;
    background-image: url('img/logo-close.png');
    background-size: cover;
    background-repeat: no-repeat;
    right: 13px;
    top: 4px;
    display: none;
    cursor: pointer;
}
.recent-search-item:focus{
    margin: 0px;
    margin-right: 8px;
    border: 2px solid #BFDEFF;
}
.recent-search-item-container:hover .recent-search-item-close{
   display: block; 
}
.search{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
input.search-text{
    width: 178px;
    height: 30px;
    padding: 2.5px 5px;
    font-size: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    border-width: 2px;
    margin-right: 5px;
}
input.search-button-submit{
    height: 30px;
    padding: 2.5px 5px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #28a745;
    border:3px solid #28a745;
    margin-right: 5px;
}
input.search-button-submit:focus{
    border-color: #1dd146;
}
input.search-button-ternding{
    height: 30px;
    padding: 2.5px 5px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 0.2rem;
    color: #fff;
    background-color: #dc3545;
    border:2px solid #dc3545;
    margin-right: 5px;
}
input.search-button-ternding:focus{
    border-color: #f05959;
}
.gallery-section{

}
.gallery{
    display: flex;
    flex-direction: raw;
    flex-wrap: wrap;
}
.gallery-item{
    border: 1px solid black;
    margin-right: 10px;
    margin-bottom: 10px;
}
img{
    height: 200px;
    border-bottom: 1px solid black;
}
.gallery-item-rating{
    height: 28px;
    width: 100%;
    text-align: center;
    font-weight: bold;
}